name: Release

on:
  push:
    tags:
      - 'v*'

env:
  STORE_PATH: ''

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write
  packages: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-bun

      - run: bun run build

      - run: bun run publish:dry-run
        env:
          NPM_CONFIG_TOKEN: ${{secrets.NPM_TOKEN}}

      - run: bun run publish:run
        env:
          NPM_CONFIG_TOKEN: ${{secrets.NPM_TOKEN}}
